.PCSS{
  COLOR:YELLOW
}
// css練習用

.flexItem1 {
  height:80px;
  background-color: blue;
}

.flexItem2 {
  background-color: green;
}

.flexItem3 {
  margin-left: 10px;
  margin-right: 10px;
  background-color: red;
}

.flexItem4 {
  background-color: darkgreen;
}

.flexItem5 {
  height:80px;
  background-color: yellow;
}
